.header{
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.App{
    /* background-color: rgb(232, 230, 230); */
    background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
}
.search{
    padding: 5px;
    border: none;
    background: none;
    border-bottom: 3px solid #FF6D28;
}
.search:focus{
    outline: none;
}
.search::placeholder{
    color: black;
}

.movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* grid-template-columns: auto auto auto;
    grid-template-rows:  auto; */
    padding-bottom: 20px;
    position: relative;
}

.movie{
    width: 250px;
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
    color: #fff;
    overflow: hidden;
}

.title{
    padding: 0 10px;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.1);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.4px);
-webkit-backdrop-filter: blur(2.4px);
border: 1px solid rgba(255, 255, 255, 0.3);
border: 1px solid rgba(255, 255, 255, 0.3);
    position: absolute;
    bottom: 20px;
    width: 100%;
    left: 0;
    height: 80px;
}

.movie img{
    width: 100%;
}

.loading{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d8d3d3;
}

@media only screen and (max-width: 400px){
    .movie{
        width: 150px;
    }
    .movies{
        justify-content: center !important;
        gap: 15px;
        margin-bottom: 0 !important;
    }
    .title h5{
        font-size: 10px !important;
        margin-bottom: 0;
    }
    .title{
        height: 55px;
    }
}